.Tokens {
  display: flex;
  flex-direction: column;
  .field {
    width: 18em;
    margin: 0 2em 0 0;
  }
  .form {
    display: flex;
  }

  .table {
    width: 65em;
  }

  .delete-button {
    margin: 0.5em 0;
  }
}